*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
terraform.tfstate.backup
.terraform.lock.hcl

.aws/
.aws-sso-cache/
config
credentials

tfsec-results.json
checkov-report.*
opa-report.*

*.test
*.exe
*.mod
*.sum
vendor/
